In [6]:
# Import dependencies
from datetime import datetime
from datetime import date
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [15]:
# Read into excel file
xls = pd.ExcelFile("./Resources/KPMG_VI_New_raw_data_update_final.xlsx")
transactions_xls = pd.read_excel(xls, "Transactions", header=1)
new_customer_list_xls = pd.read_excel(xls, "NewCustomerList", header=1)
customer_demographic_xls = pd.read_excel(xls, "CustomerDemographic", header=1)
customer_address_xls = pd.read_excel(xls, "CustomerAddress", header=1)

In [27]:
# Create function to drop all customer_ids above 3500
def consistent_id(excel_sheet):
    excel_sheet = excel_sheet.loc[excel_sheet["customer_id"] <= 3500]
    return excel_sheet

In [28]:
consistent_id(transactions_xls)

,transaction_id,product_id,customer_id,transaction_date,online_order,order_status,brand,product_line,product_class,product_size,list_price,standard_cost,product_first_sold_date
0,1,2,1,2017-02-25,0.0,Approved,Solex,Standard,medium,medium,71.49,53.62,41245.0
1,2,3,2,2017-05-21,1.0,Approved,Trek Bicycles,Standard,medium,large,2091.47,388.92,41701.0
2,3,37,3,2017-10-16,0.0,Approved,OHM Cycles,Standard,low,medium,1793.43,248.82,36361.0
3,4,88,4,2017-08-31,0.0,Approved,Norco Bicycles,Standard,medium,medium,1198.46,381.10,36145.0
4,5,78,5,2017-10-01,1.0,Approved,Giant Bicycles,Standard,medium,large,1765.30,709.48,42226.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,3496,34,3496,2017-09-08,1.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,35378.0
3496,3497,12,3497,2017-08-16,0.0,Approved,WeareA2B,Standard,medium,medium,1231.15,161.60,38216.0
3497,3498,19,3498,2017-07-22,1.0,Approved,OHM Cycles,Road,high,large,12.01,7.21,34115.0
3498,3499,62,3499,2017-09-02,0.0,Approved,Solex,Standard,medium,medium,478.16,298.72,34143.0
3499,3500,54,3500,2017-12-05,0.0,Approved,WeareA2B,Standard,medium,medium,1292.84,13.44,39915.0

In [29]:
consistent_id(customer_demographic_xls)

,customer_id,first_name,last_name,gender,past_3_years_bike_related_purchases,DOB,job_title,job_industry_category,wealth_segment,deceased_indicator,default,owns_car,tenure
0,1,Laraine,Medendorp,F,93,1953-10-12,Executive Secretary,Health,Mass Customer,N,"""'",Yes,11.0
1,2,Eli,Bockman,Male,81,1980-12-16,Administrative Officer,Financial Services,Mass Customer,N,<script>alert('hi')</script>,Yes,16.0
2,3,Arlin,Dearle,Male,61,1954-01-20,Recruiting Manager,Property,Mass Customer,N,2018-02-01 00:00:00,Yes,15.0
3,4,Talbot,NaN,Male,33,1961-10-03,NaN,IT,Mass Customer,N,() { _; } >_[$($())] { touch /tmp/blns.shellsh...,No,7.0
4,5,Sheila-kathryn,Calton,Female,56,1977-05-13,Senior Editor,NaN,Affluent Customer,N,NIL,Yes,8.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
3495,3496,Danya,Burnyeat,Male,99,1986-04-25,Editor,Manufacturing,Mass Customer,N,Ã¢ÂªÃ¢ÂªtestÃ¢Âª,Yes,19.0
3496,3497,Thia,O'Day,Female,73,1986-05-03,Administrative Assistant IV,Manufacturing,Affluent Customer,N,Ã£Ã£Â¼Ã£Ã£Â£Ã£Â¼Ã£Â¸Ã¨Â¡Ã£Ã£ÂªÃ£Ã£,Yes,18.0
3497,3498,Lois,Abrahim,Female,28,1995-11-02,NaN,Manufacturing,Mass Customer,N,NaN,No,5.0
3498,3499,Shelton,Tewkesberrie,Male,29,1979-06-17,NaN,Manufacturing,Mass Customer,N,Ã¡,Yes,7.0
3499,3500,Josy,Fleeman,Female,71,1967-07-21,NaN,Entertainment,Affluent Customer,N,Ã‚Â¡Ã¢Â¢Ã‚Â£Ã‚Â¢Ã¢Ã‚Â§Ã‚Â¶Ã¢Â¢Ã‚ÂªÃ‚ÂºÃ¢Ã¢,No,17.0

In [30]:
consistent_id(customer_address_xls)

,customer_id,address,postcode,state,country,property_valuation
0,1,060 Morning Avenue,2016,New South Wales,Australia,10
1,2,6 Meadow Vale Court,2153,New South Wales,Australia,10
2,4,0 Holy Cross Court,4211,QLD,Australia,9
3,5,17979 Del Mar Point,2448,New South Wales,Australia,4
4,6,9 Oakridge Court,3216,VIC,Australia,9
...,...,...,...,...,...,...
3491,3496,2565 Caliangt Point,2171,NSW,Australia,9
3492,3497,96 Delladonna Trail,3976,VIC,Australia,5
3493,3498,3 Nova Point,3012,VIC,Australia,4
3494,3499,310 Stephen Terrace,4073,QLD,Australia,9
3495,3500,9491 Green Ridge Terrace,2100,NSW,Australia,10